{% extends 'base.html.twig' %}

{% block title %}ورود{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href={{ asset('css/login.css')}}>

{% endblock %}


{% block body %}


{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}



    <section class="login-block" dir="rtl">
        {% if error %}

           <div class="alert alert-danger error" >
               <i class="fa fa-times-circle"></i>
               {{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% block show_massege %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success error" style="width: 600px;margin-right: 460px;">
                    <i class="fa fa-check-circle"></i>
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}

      <div class="container">

        <div class="row">
          <div class="col-md-4 login-sec">
            <h2 class="text-center head-text">ورود به حساب</h2>
            <form class="login-form" method="post">

              <div class="form-group field-text ">
                <label for="inputUsername" >نام کاربری</label>
                <input
                        {% if error %}
                                type="text" value="{{ last_username }}"
                            {% else %}
                                type="text" value=""

                        {% endif %}
                        placeholder="نام کاربری"
                        name="username"
                        id="inputUsername"
                        class="form-control"
                        autocomplete="username"
                        required autofocus
{#                        oninvalid="this.setCustomValidity('لطفا نام کابری را وارد کنید')"#}
                >
              </div>

              <div class="form-group field-text">
                <label for="inputPassword">رمز عبور</label>
                <input
                        type="password"
                         name="password"
                        id="inputPassword"
                        placeholder="رمزعبور"
                        class="form-control"
                        autocomplete="current-password"
                        required
{#                        oninvalid="this.setCustomValidity('لطفا رمزعبور را وارد کنید')"#}

                >
              </div>
               <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="form-check">
                    <label class="form-check-label rem-check" dir="ltr">
                        <input type="checkbox" name="_remember_me" class="form-check-input">
                       من را به خاطر داشته باش
                    </label>
                    <button type="submit" class="btn btn-login float-right sign-in-but">ورود &nbsp; به  &nbsp;دیجی&zwnj;ورک</button>
                </div>

            </form>

              <div class="copy-text"  style="font-weight: bold; font-size: 9pt">زندگی آسوده شعار ماست <i class="fa fa-heart"></i></div>
          </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="{{ asset('asserts/image/login/slide2.jpg') }}" alt="First slide">
                            <div class="carousel-caption d-none d-md-block" dir="rtl" style="text-align: right">
                                <div class="banner-text"  style="background-color: rgba(197,234,255,0.81);
                                     border-radius:20px 20px 20px 20px;
                                     ">
                                    <h2  style="color: #000000; margin-right: 20px; margin-top: 10px">زندگی کن</h2>
                                    <p style="color: #000000; font-size: 15pt; margin-right: 20px">
                                         با دیجی ورک با خیالی آسوده زندگی کنید و کار های فنی تخصصی خود را به ما بسپارید.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{{ asset('asserts/image/login/slide3.jpg') }}" alt="second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h2  style="color: #000000">زندگی کن</h2>
                                <p style="color: #000000; font-size: 15pt">
                                    با دیجی ورک با خیالی آسوده زندگی کنید و کار های فنی تخصصی خود را به ما بسپارید.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{{ asset('asserts/image/login/slide1.jpg') }}" alt="third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h2  style="color: #000000">زندگی کن</h2>
                                <p style="color: #000000; font-size: 15pt">
                                    با دیجی ورک با خیالی آسوده زندگی کنید و کار های فنی تخصصی خود را به ما بسپارید.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}


{#
Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
See https://symfony.com/doc/current/security/remember_me.html

#}

{#              <div class="checkbox mb-3">#}
{#                  <label>#}
{#                      <input type="checkbox" > Remember me#}
{#                  </label>#}
{#              </div>#}