{% extends 'base.html.twig' %}

{% block title %}ایجاد تیکت جدید{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href={{ asset('css/register.css')}}>
    <link rel="stylesheet" type="text/css" href={{ asset('css/get-receipt.css')}}>

    <style>

    </style>
{% endblock %}


{% block body %}
<section class="login-block " dir="rtl" style="text-align: right">
    <div class="container" style="background-color: #edf5ff" >
        <div class=" login-sec " >
            <h2 class="text-center head-text" style="font-size: 20pt" >رسید های ثبت شده</h2>

            <div class="table-wrapper" style="background-color: #edf5ff; font-family: Vazir,serif">

                <table class="table table-hover" style="background-color: #edf5ff">

                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>کد پیگیری</th>
                        <th>مدل</th>
                        <th>تاریخ ثبت</th>
                        <th>نوع مشکل</th>

                        <th>چاپ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form method="post">
                        {% for ticket in tickets %}
                            <tr>
                                <td>1</td>
                                <td><a href="#" style="color: #1c7430">{{ ticket.tracingNumber }}</a></td>
                                <td>{{ ticket.productModel }}</td>
                                <td>{{ ticket.publishedAt|date("d/m/Y", false) }}</td>
                                <td><span class="status text-danger">&bull;</span>{{ ticket.problemSubject }}</td>

                                <td><button  name="tracingNumber"
                                             value="{{ ticket.tracingNumber }}"
                                             class=" btn fa fa-arrow-left" style="background-color: #edf5ff;font-size: 15pt; border-radius: 50px 50px 50px 50px " title="View Details" data-toggle="tooltip"></button></td>
                            </tr>
                        {% endfor %}
                    </form>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
{#            <div class=" login-sec " >#}
{#                <h2 class="text-center head-text">g</h2>#}
{#                <h6 style="text-align: right; margin-bottom: 50px">#}

{#                </h6>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12  mx-0">#}
{#                            <div class="row" >#}
{#                                <div class="col field-text">#}
{#                                    {{ form_row(ticketForm.productModel) }}#}

{#                                </div>#}
{#                                <div class="col field-text">#}
{#                                        {{ form_row(ticketForm.productBrand) }}#}
{#                                </div>#}
{#                            </div>#}

{#                                <div class="row">#}
{#                                    <div class="col field-text">#}
{#                                        {{ form_row(ticketForm.problemSubject)}}#}
{#                                    </div>#}
{#                                    <div class="col field-text" >#}
{#                                        <div style="font-size: 13pt; margin-bottom: 10px">#}
{#                                            عکس از دستگاه#}
{#                                        </div>#}
{#                                        <div style="font-size: 11pt">#}
{#                                            {{ form_row(ticketForm.imageFile) }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col field-text ">#}
{#                                        {{ form_row(ticketForm.details) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            <div class="form-check" style="text-align: center " dir="ltr">#}
{#                                <button type="submit" style="margin: 10px 480px 30px 0" class="btn btn-login float-right sign-in-but">ثبت &nbsp اطلاعات</button>#}
{#                            </div>#}
{#                            {{ form_end(ticketForm) }}#}
{#                        </div>#}
{#                    </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}


{#
Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
See https://symfony.com/doc/current/security/remember_me.html

#}

{#              <div class="checkbox mb-3">#}
{#                  <label>#}
{#                      <input type="checkbox" > Remember me#}
{#                  </label>#}
{#              </div>#}