{% extends 'base.html.twig' %}

{% block title %}ایجاد تیکت جدید{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href={{ asset('css/register.css')}}>
    <style>
        .badge-danger {
            color: #fff;
            background-color: #dc3545;

        }
    </style>
{% endblock %}


{% block body %}


    {#    {% if app.user %}#}
    {#        <div class="mb-3">#}
    {#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
    {#        </div>#}
    {#    {% endif %}#}



    <section class="login-block" dir="rtl">

        <div class="container">

            <div class="row" style="">
                <div class=" login-sec" >
                    <h2 class="text-center head-text">عضویت در سایت</h2>
                    {{ form_start(ticketForm) }}
                    <div class="form-group field-text ">
                        {{ form_row(ticketForm.productBrand) }}
                        {{ form_row(ticketForm.productModel) }}
                    </div>
                    <div class="form-group field-text">
                        {{ form_row(ticketForm.problemSubject)}}
                    </div>
                    <div class="form-group field-text">
                        {{ form_row(ticketForm.imageFile) }}
                        {{ form_row(ticketForm.details) }}
                    </div>

                    <div class="form-group field-text">
                        {{ form_row(ticketForm.details) }}
                    </div>
                    <div class="form-group field-text">
                        {{ form_row(ticketForm.reservedDate) }}
                    </div>
                    <div class="form-check" style="text-align: center " dir="ltr">
                        <button type="submit" style="margin: 10px 480px 30px 0" class="btn btn-login float-right sign-in-but">ثبت &nbsp اطلاعات</button>
                    </div>
                    {{ form_end(ticketForm) }}

                    <div class="copy-text"  style="margin-right: 78px;font-weight: bold; font-size: 9pt">زندگی آسوده شعار ماست <i class="fa fa-heart"></i></div>
                </div>



            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}


{#
Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
See https://symfony.com/doc/current/security/remember_me.html

#}

{#              <div class="checkbox mb-3">#}
{#                  <label>#}
{#                      <input type="checkbox" > Remember me#}
{#                  </label>#}
{#              </div>#}